---
image: node:alpine
definitions:
  caches:
    npm: ~/.npm
    jest: .jest
pipelines:
  default:
    - parallel:
        - step:
            name: Test with Jest
            caches:
              - npm
              - jest
            script:
              - npm ci
              - yarn ci-test
        - step:
            name: Lint
            caches:
              - npm
            script:
              - npm ci
              - npm run lint
  branches:
    develop:
      - parallel:
          - step:
              name: Test with Jest
              caches:
                - npm
                - jest
              script:
                - npm ci
                - yarn ci-test
          - step:
              name: Lint
              caches:
                - npm
              script:
                - npm ci
                - npm run lint
          - step:
              name: Deploy to Expo
              trigger: manual
              deployment: production
              caches:
                - npm
              script:
                - apk add --no-cache bash
                - npm ci
                - npm install -g expo-cli
                - npx expo publish --non-interactive
    master:
      - parallel:
          - step:
              name: Test with Jest
              caches:
                - npm
                - jest
              script:
                - npm ci
                - yarn ci-test
          - step:
              name: Lint
              caches:
                - npm
              script:
                - npm ci
                - npm run lint
      - step:
          name: Deploy to Expo
          deployment: production
          caches:
            - npm
          script:
            - apk add --no-cache bash
            - npm ci
            - npm install -g expo-cli
            - npx expo publish --non-interactive
